#aboutMe{
    background-color:rgb(237, 240, 245);
    margin: 0 auto;
    height: px;
}


body {
    color: rgb(80, 82, 85);
    font-family: 'helvetica',sans-serif;
    background-color:#f8f8f8;
}


#contactMe{
    background-color:rgb(237, 240, 245);
}


.date-attended, .institution-name{
    text-align:left;
     font-weight:normal;
}

div.navbar-collapse ul.navbar-nav li a {
    font-weight: bold;
}

#education{
    background-color:rgb(237, 240, 245);
    
    margin: 0 auto;
}

h1{
    font-weight:bolder;
    text-align:center;
    letter-spacing:10px;
    color:white;
    padding-top:200px;
    padding-bottom: 50px;
}

h2{
    text-align:center;    
    font-family:"open sans", sans-serif;
    font-weight: bold;
    padding-bottom: 150px;
}
h3{
    font-weight:bold;
    text-align:center;
    padding-top: 50px;
    padding-bottom:10px;
    font-size:28px;
    text-decoration:underline;
}


h4{
    font-weight:bold;
    text-align:center;   
}

h5{
    text-align:center;
    font-weight: bold;
}
h6{
    text-align:center;
}

img{
    height:30px;
}

.job-title{
    text-align:left;
    font-style:normal;
    font-weight:bold;
}

li{
    text-align:justify; 
}

.program-name{
    font-style:italic ;
    font-weight:bold;
    text-align:center;
}













